        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'supplierTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'supplierTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-4">
                                            <label for="1">{{'supplierIce' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'supplierIce' | translate}}" id="1" [(ngModel)]="item.ice"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="2">{{'supplierName' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'supplierName' | translate}}" id="2" [(ngModel)]="item.name"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="3">{{'supplierTel' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'supplierTel' | translate}}" id="3" [(ngModel)]="item.tel"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="4">{{'supplierEmail' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'supplierEmail' | translate}}" id="4" [(ngModel)]="item.email"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="5">{{'supplierAddress' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'supplierAddress' | translate}}" id="5" [(ngModel)]="item.address"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="6">{{'supplierDescription' | translate}}</label>
                                            <textarea appendTo="body" id="6" pInputTextarea rows="5" cols="30" placeholder="{{'supplierDescription' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="7">{{'supplierDebt' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="7"
                                                           placeholder="{{'supplierDebt' | translate}}" [(ngModel)]="item.debt"  >
                                            </p-inputNumber>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
