        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'demandTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'demandTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-4">
                                            <label for="1">{{'demandReference' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'demandReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="2">{{'demandDemandDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"   [showTime]="true" [showSeconds]="false" placeholder="{{'demandDemandDate' | translate}}"  [(ngModel)]="item.demandDate"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="3">{{'demandTotalCheck' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="3"
                                                           placeholder="{{'demandTotalCheck' | translate}}" [(ngModel)]="item.totalCheck"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="4">{{'demandTotalCash' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="4"
                                                           placeholder="{{'demandTotalCash' | translate}}" [(ngModel)]="item.totalCash"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="5">{{'demandTotal' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="5"
                                                           placeholder="{{'demandTotal' | translate}}" [(ngModel)]="item.total"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="6">{{'demandTotalPaid' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="6"
                                                           placeholder="{{'demandTotalPaid' | translate}}" [(ngModel)]="item.totalPaid"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="7">{{'demandClient' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="clients" [(ngModel)]="item.client" id="7"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="name" placeholder="{{'demandClient' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>


                                    <div class="field col-11 md:col-3">
                                            <label for="9">{{'demandDemandStatus' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="demandStatuss" [(ngModel)]="item.demandStatus" id="9"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'demandDemandStatus' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDemandStatus('DemandStatus')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="demandDemandItems">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-12 md:col-4">
                                                                <label for="1">Price</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="price" [(ngModel)]="demandItemsElement.price" placeholder="Price"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-11 md:col-3">
                                                                <label>Product</label>
                                                                <p-dropdown appendTo="body" [options]="products" [(ngModel)]="demandItemsElement.product"
                                                                        id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Product"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="3">Quantity</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="quantity" [(ngModel)]="demandItemsElement.quantity" placeholder="Quantity"  ></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="4">Pound quantity</label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="poundQuantity" [(ngModel)]="demandItemsElement.poundQuantity" placeholder="Pound quantity"  ></p-inputNumber>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addDemandItems()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.demandItems?.length > 0 ? '(' + item.demandItems?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.demandItems" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Price</th>
                                                                        <th>Product</th>
                                                                        <th>Quantity</th>
                                                                        <th>Pound quantity</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.price}}</td>
                                                                    <td>{{p.product?.libelle}}</td>
                                                                        <td>{{p.quantity}}</td>
                                                                        <td>{{p.poundQuantity}}</td>
                                                            <td>
                                                                <button (click)="deleteDemandItem(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editDemandItem(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-demand-status-create-admin></app-demand-status-create-admin>


    </p-dialog>
