        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'incomeStatementDeclarationTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'incomeStatementDeclarationTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'incomeStatementDeclarationReference' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'incomeStatementDeclarationReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'incomeStatementDeclarationDeclarationDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"   [showTime]="true" [showSeconds]="false" placeholder="{{'incomeStatementDeclarationDeclarationDate' | translate}}"  [(ngModel)]="item.declarationDate"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="3">{{'incomeStatementDeclarationQuarter' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="3"
                                                           placeholder="{{'incomeStatementDeclarationQuarter' | translate}}" [(ngModel)]="item.quarter"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="4">{{'incomeStatementDeclarationYear' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="4"
                                                           placeholder="{{'incomeStatementDeclarationYear' | translate}}" [(ngModel)]="item.year"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="5">{{'incomeStatementDeclarationCompany' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="companys" [(ngModel)]="item.company" id="5"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="ice" placeholder="{{'incomeStatementDeclarationCompany' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'incomeStatementDeclarationTotalExpense' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="6"
                                                           placeholder="{{'incomeStatementDeclarationTotalExpense' | translate}}" [(ngModel)]="item.totalExpense"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="7">{{'incomeStatementDeclarationTotalRevenue' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="7"
                                                           placeholder="{{'incomeStatementDeclarationTotalRevenue' | translate}}" [(ngModel)]="item.totalRevenue"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="8">{{'incomeStatementDeclarationIncomeBeforeTax' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="8"
                                                           placeholder="{{'incomeStatementDeclarationIncomeBeforeTax' | translate}}" [(ngModel)]="item.incomeBeforeTax"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="9">{{'incomeStatementDeclarationCorporateTaxRate' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="corporateTaxRates" [(ngModel)]="item.corporateTaxRate" id="9"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'incomeStatementDeclarationCorporateTaxRate' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCorporateTaxRate('CorporateTaxRate')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="10">{{'incomeStatementDeclarationTaxAmount' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="10"
                                                           placeholder="{{'incomeStatementDeclarationTaxAmount' | translate}}" [(ngModel)]="item.taxAmount"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="11">{{'incomeStatementDeclarationIncomeAfterTax' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="11"
                                                           placeholder="{{'incomeStatementDeclarationIncomeAfterTax' | translate}}" [(ngModel)]="item.incomeAfterTax"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="12">{{'incomeStatementDeclarationHandlingAccountant' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="handlingAccountants" [(ngModel)]="item.handlingAccountant" id="12"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="cin" placeholder="{{'incomeStatementDeclarationHandlingAccountant' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="13">{{'incomeStatementDeclarationValidationAccountant' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="validationAccountants" [(ngModel)]="item.validationAccountant" id="13"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="cin" placeholder="{{'incomeStatementDeclarationValidationAccountant' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-corporate-tax-rate-create-admin></app-corporate-tax-rate-create-admin>


    </p-dialog>
