
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'returnSaleTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'returnSaleTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Return date' | translate}}</label>
                        <p-calendar id="1" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Return date' | translate}}"  [(ngModel)]="item.returnDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Amount' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'Amount' | translate}}" [(ngModel)]="item.amount"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Sale' | translate}}</label>
                        <p-dropdown [options]="sales" [(ngModel)]="item.sale" id="3" [disabled]="true" optionLabel="reference" placeholder="{{'Sale' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Return status' | translate}}</label>
                        <p-dropdown [options]="returnStatuss" [(ngModel)]="item.returnStatus" id="5" [disabled]="true" optionLabel="libelle" placeholder="{{'Return status' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="returnSaleReturnSaleItems">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.returnSaleItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Return amount</th>
                                        <th>Quantity</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.product?.libelle}}</td>
                                        <td>{{p.returnAmount}}</td>
                                        <td>{{p.quantity}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



