
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'deliveryTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'deliveryTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Demand' | translate}}</label>
                        <p-dropdown [options]="demands" [(ngModel)]="item.demand" id="1" [disabled]="true" optionLabel="reference" placeholder="{{'Demand' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Delivery date' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Delivery date' | translate}}"  [(ngModel)]="item.deliveryDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Delivery status' | translate}}</label>
                        <p-dropdown [options]="deliveryStatuss" [(ngModel)]="item.deliveryStatus" id="3" [disabled]="true" optionLabel="libelle" placeholder="{{'Delivery status' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Client' | translate}}</label>
                        <p-dropdown [options]="clients" [(ngModel)]="item.client" id="5" [disabled]="true" optionLabel="name" placeholder="{{'Client' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="deliveryDeliveryItems">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.deliveryItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Store</th>
                                        <th>Quantity</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.product?.libelle}}</td>
                                        <td>{{p.store?.libelle}}</td>
                                        <td>{{p.quantity}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



