        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'paymentPurchaseTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'paymentPurchaseTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-4">
                                                    <label for="1">{{'paymentPurchaseReference' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'paymentPurchaseReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="2">{{'paymentPurchasePaymentDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'paymentPurchasePaymentDate' | translate}}"  [(ngModel)]="item.paymentDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-4">
                                                    <label for="3">{{'paymentPurchaseAmount' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'paymentPurchaseAmount' | translate}}" [(ngModel)]="item.amount"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-3">
                                                <label for="4">{{'paymentPurchasePurchase' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="purchases" [(ngModel)]="item.purchase" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="reference" placeholder="{{'paymentPurchasePurchase' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreatePurchase('Purchase')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                            <div class="field col-11 md:col-3">
                                                <label for="5">{{'paymentPurchasePaymentMode' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="paymentModes" [(ngModel)]="item.paymentMode" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'paymentPurchasePaymentMode' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-4">
                                                    <label for="6">{{'paymentPurchaseDescription' | translate}}</label>
                                                    <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{{'paymentPurchaseDescription' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-3">
                                                <label for="7">{{'paymentPurchasePurchasePaymentStatus' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="purchasePaymentStatuss" [(ngModel)]="item.purchasePaymentStatus" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'paymentPurchasePurchasePaymentStatus' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreatePurchasePaymentStatus('PurchasePaymentStatus')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-purchase-create-admin></app-purchase-create-admin>
            <app-purchase-payment-status-create-admin></app-purchase-payment-status-create-admin>


    </p-dialog>
