
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'receptionTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'receptionTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Order' | translate}}</label>
                        <p-dropdown [options]="orders" [(ngModel)]="item.order" id="1" [disabled]="true" optionLabel="reference" placeholder="{{'Order' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Reference' | translate}}" autofocus  id="2" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Reception date' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Reception date' | translate}}"  [(ngModel)]="item.receptionDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Description' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'Reception status' | translate}}</label>
                        <p-dropdown [options]="receptionStatuss" [(ngModel)]="item.receptionStatus" id="6" [disabled]="true" optionLabel="libelle" placeholder="{{'Reception status' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="receptionReceptionItems">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.receptionItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Store</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.product?.libelle}}</td>
                                        <td>{{p.quantity}}</td>
                                        <td>{{p.store?.libelle}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



