        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'handlingAccountantTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'handlingAccountantTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'handlingAccountantCin' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'handlingAccountantCin' | translate}}" id="1" [(ngModel)]="item.cin"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'handlingAccountantLastName' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'handlingAccountantLastName' | translate}}" id="2" [(ngModel)]="item.lastName"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'handlingAccountantFirstName' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'handlingAccountantFirstName' | translate}}" id="3" [(ngModel)]="item.firstName"
                                                     />
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
